/*--------------------
  Base Element Styles
  ====================*/

  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.0;
    color: #9e9e9e;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  h3 {

  }

  /*--------------------
    Base Element Styles
    ====================*/

/* -- Navigation -- */

.main-header {
      width: 100%;
      font-weight: bold;
      top: 0;
      background: #f9f9f9;
      padding-top: 10px;
      padding-bottom: 40px;
    }

.main-nav {
      margin: 10px 25px;
    }

.name,
.main-nav a {
      display: block;
      text-align: center;
      padding: 10px 15px;
      color: #606060;
    }

.main-nav a {
      font-size: 1.1em;
      margin-top: 15px;
      background: #ffffff;
    }

.name{
      margin-top: 10px;
    }

  .main-footer {
    width: 100%;
    font-weight: bold;
    top: 0;
    background: #f9f9f9;
    padding-top: 10px;
    margin: 0 auto;
    }

/* -- Element Styles -- */


.profile-image {
      display: block;
      margin: 40px auto;
      width: 275px;
    }

.introchar {
    margin: 0 auto;
    text-align: center;
    width: 85%;
    font-size: 18px;
    line-height: 1.6;
      }

.port-contact {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 40px 0;
    margin: 20px auto;
    color: #606060;
}

.page-name {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  margin: 0 auto;
  color: #606060;
}

.page-description {
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 85%;
  padding-top: 10px;
  margin: 0 auto;
  color: #606060;
  }

  .last-page {
    padding-bottom: 80px;
  }

  .contact {

  }

.lastcomment {
  margin: 0 auto;
  text-align: center;
  width: 85%;
  font-size: 18px;
  line-height: 1.6;
  }

 .phemail {
   font-weight: lighter;
   padding-top: 10px;
   text-align: center;
 }

 .nemail {
   font-weight: bold;
   padding-left: 8px;
 }

 .botline {
   width: 85%;
   border-top: 2px solid lightgray;
   font-size: 18px;
   font-weight: bold;
   padding: 25px 0;
   margin: 20px auto 0;
   display: flex;
   justify-content: space-between;
 }

 .botline a {
   color: #606060;
 }


.marketing-page {
  display: block;
  margin: 40px auto;
  width: 300px;
}

.foot-nav {
  display: none;
}

#markpage {
  padding-top: 0;
}

/* media queries */

@media (min-width: 768px) {

/* .profile-image, */
.profile-image {
  width: 250px;
  height: 153px;
}

.introchar {
  padding-top: 38px;
  width: 42%;
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
}

.prochar {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.main-nav {
  margin: auto;
  text-align: center;
}
.main-nav li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.main-nav a {
  background-color: #f9f9f9;
}

  .last-page {
    padding-bottom: 0;
  }

  .portfolio {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .wrapwrap {
    width: 100vw;
    display: flex;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
    width: 45%;
  }

  .foot-nav {
    display: block; 
  }

  #back-to-top
  {
    display: none;
  }

}

@media (min-width: 1024px) {

  .wrap {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .name,
  .main-nav {
    display: inline-block;
  }

  .main-nav {
    margin-right: 0;
    text-align: right;
  }

  .namenav {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .profile-image {
    width: 300px;
    height: 169px;
  }

  .name {
    margin-right: 30px;
  }


  .container {
    width: 30%;
  }



}





    .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
